/* Hero.module.css */

@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 10%;
  gap: 12rem; /* space between image and text */
  z-index: 1
}

.content {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;
  text-align: center;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  ); */
  background: white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

 .contactBtn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #0ef;
  border: 2px solid #0ef;
  background: transparent;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.contactBtn:hover {
  background: #0ef;
  color: #000; 
}

 .heroImg {
  width: 100%;
  max-width: 300px;
  z-index: 1;
  animation: floating 3s ease-in-out infinite;
}

@media screen and (max-width: 830px) {
  .heroImg {
    margin-bottom: 2rem;
  }

  .content {
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 831px) {
  .container {
    padding-top: 150px;
    flex-direction: row; /* image left, content right */
    align-items: center;
    justify-content: space-between;
  }

  .heroImg {
    width: 35%;
    margin-bottom: 0;
  }

  .content {
    width: 65%;
    align-items: flex-start;
    text-align: left;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

 /* .topBlur,
.bottomBlur {
  position: absolute;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.topBlur {
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
} */
/* 
.bottomBlur {
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 246px;
  right: -25vw;
} */